@page "/GeneratorTest"

<PageTitle>Generator Service Test</PageTitle>

<h1>Generator Service Test</h1>


<button class="btn btn-primary m-2" @onclick="ReadDb">@("ReadDb".Humanize())</button>

<br />

<button class="btn btn-primary m-2" @onclick="ReadHeader">@("ReadHeader".Humanize())</button>

<br />

<button class="btn btn-primary m-2" @onclick="ReadFooter">@("ReadFooter".Humanize())</button>

<br />

<button class="btn btn-primary m-2" @onclick="ReadGridM">@("ReadGridM".Humanize())</button>

<br />

<button class="btn btn-primary m-2" @onclick="ReadGridD">@("ReadGridD".Humanize())</button>

<br />

<MudTextField Value="1"  Variant="Variant.Outlined"  Label="TEST"/>
 
