@page "/Tests"

<PageTitle>Counter</PageTitle>

<h1>Tests</h1>





<MudGrid Justify="Justify.FlexStart">

    @*Query*@
    <MudItem xs="12" sm="12" md="3" lg="6" xl="6" xxl="6">
        <button class="btn btn-primary m-2" @onclick="QueryAsync">@("QueryAsync".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="6" xl="6" xxl="6">
        <button class="btn btn-primary m-2" @onclick="QueryStream">@("QueryStream".Humanize())</button>
    </MudItem>

    @*INSERT*@
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithIdentityTest">@("InsertWithIdentityTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithCodeTableTest">@("InsertWithCodeTableTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithoutIdentityTest">@("InsertWithoutIdentityTest".Humanize())</button>
    </MudItem>

    @*UPDATE*@
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateIdentityTest">@("UpdateIdentityTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateCodeTest">@("UpdateCodeTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateComputedTest">@("UpdateComputedTest".Humanize())</button>
    </MudItem>

    @*Query Model*@
    <MudItem xs="12" sm="12" md="3" lg="6" xl="6" xxl="6">
        <button class="btn btn-primary m-2" @onclick="QueryAsyncObject">@("QueryAsyncObject".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="6" xl="6" xxl="6">
        <button class="btn btn-primary m-2" @onclick="QueryStreamObject">@("QueryStreamObject".Humanize())</button>
    </MudItem>

    @*INSERT Model*@
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithCodeTableTestObject">@("InsertWithCodeTableTestObject".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithIdentityTestObject">@("InsertWithIdentityTestObject".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="InsertWithoutIdentityTestObject">@("InsertWithoutIdentityTestObject".Humanize())</button>
    </MudItem>

    @*UPDATE Model*@
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateIdentityModelTest">@("UpdateIdentityModelTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateCodeModelTest">@("UpdateCodeModelTest".Humanize())</button>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" lg="4" xl="4" xxl="4">
        <button class="btn btn-primary m-2" @onclick="UpdateComputedModelTest">@("UpdateComputedModelTest".Humanize())</button>
    </MudItem>
</MudGrid>







@{
    @*if (DataSource is not null)
        {
            <MudTable Items="@DataSource" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh>RowId</MudTh>
                    <MudTh>Desc</MudTh>

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="RefNo">@context["TT_ROWID"]</MudTd>
                    <MudTd DataLabel="Desc">@context["TT_DESC"]</MudTd>
                </RowTemplate>
            </MudTable>
        }*@


}
