@typeparam TModel where TModel : new()
@inherits MudTable<TModel>
@implements INonGenGrid
@implements IGenGrid<TModel>
 

<CascadingValue Name="@(nameof(ParentGrid))" Value="this">

    @{
        if (GenColumns is not null && IsFirstRender)
        {
            @GenColumns

            <CascadingValue Value="true" Name="@(nameof(IGenComponent.IsSearchField))">
                @GenSearchFields
            </CascadingValue>


            IsFirstRender = false;
        }
    }

    <MudCard Elevation="4" Style="@(Style ?? "width:100%important")" Class="@Class">
        <MudCardHeader>
            <CardHeaderContent>
                <MudGrid>
                    <MudText Style="margin: 1rem !important" Align="Align.Start" Typo="Typo.h6">
                        @Title
                    </MudText>
                    <MudSpacer />
                    @{
                        if (EnableSearch)
                        {
                            <MudTextField @bind-Value="@_searchString"
                                          Disabled="SearchDisabled"
                                          Class="mt-0 mr-5"
                                          Placeholder="@SearchPlaceHolderText"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium">

                            </MudTextField>
                        }
                    }
                </MudGrid>

                @{
                    if (GenSearchFields is not null)
                    {
                        var searchFieldModel = new Dictionary<string, object>();

                        foreach (var item in SearchFieldComponents.Where(x=> x is not GenSpacer))
                        {
                            searchFieldModel.Add(item.BindingField, null);
                        }

                        <MudGrid Class="mt-5">

                            <CascadingValue Value="true" Name="@(nameof(IGenComponent.IsSearchField))">
                                @{
                                    foreach (IGenComponent searchComp in SearchFieldComponents.OrderBy(x => x.Order).ToList())
                                    {

                                        <MudItem xs="searchComp.xs"
                                                 sm="searchComp.sm"
                                                 md="searchComp.md"
                                                 lg="searchComp.lg"
                                                 xl="searchComp.xl"
                                                 xxl="searchComp.xxl">
                                            @searchComp.RenderAsComponent(searchFieldModel)
                                        </MudItem>
                                    }
                                }
                            </CascadingValue>

                        </MudGrid>
                        if (Search.HasDelegate)
                        {
                            <MudGrid Class="m-1" Justify="Justify.FlexEnd">
                                <MudItem Class="mr-8" xs="2" sm="2" md="2" lg="2" xl="2" xxl="2">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem>
                                            <MudFab EndIcon="@Icons.Material.Filled.Search"
                                                    Color="Color.Info"
                                                    Size="Size.Medium"
                                                    Label="Search"
                                                    @onclick="OnSearchClicked" Disabled="SearchDisabled" />
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                            </MudGrid>
                        }
                    }
                }

            </CardHeaderContent>
            <CardHeaderActions>

            </CardHeaderActions>
        </MudCardHeader>

        <MudGrid Class="pt-5 pb-5 pr-15" Justify="Justify.FlexEnd">
            @{
                if (GenHeaderButtons is not null)
                {
                    @GenHeaderButtons

                }
            }
        </MudGrid>

        @{

            if (DataSource is not null)
            {

                <MudTable T="TModel"
                          @ref="OriginalTable"
                          Loading="@(GridIsBusy)"
                          LoadingProgressColor="@LoadingProgressColor"
                          Items="DataSource"
                          CancelEditIcon="@CancelEditIcon"
                          CancelEditTooltip="@CancelEditTooltip"
                          CommitEditIcon="@CommitEditIcon"
                          CommitEditTooltip="@CommitEditTooltip"
                          Bordered="@Bordered"
                          Outlined="@Outlined"
                          Striped="@Striped"
                          Dense="Dense"
                          MultiSelection="MultiSelection"
                          Breakpoint="Breakpoint.None"
                          Hover="Hover"
                          Elevation="0"
                          FixedHeader="FixedHeader"
                          FixedFooter="FixedFooter"
                          Height="Height"
                          @bind-SelectedItem="SelectedItem"
                          SelectedItems="@SelectedItems"
                          Filter="new Func<TModel, bool>(SearchFunction)"
                          Virtualize="Virtualize"
                          RowEditPreview="async x =>await MyRowEditPreview(x)"
                          RowEditCancel="async x => await OnCancelClick(x.CastTo<TModel>())"
                          RowEditCommit="async x => await Commit()"
                          IsEditRowSwitchingBlocked="true"
                          ApplyButtonPosition="TableApplyButtonPosition.End"
                          EditButtonPosition="TableEditButtonPosition.End"
                          EditTrigger="@EditTrigger"
                          ReadOnly="false"
                          CanCancelEdit="true">

                    <HeaderContent>
                        @{
                            if (HasDetail && EditMode != EditMode.SmartForm)
                            {
                                <MudTh>

                                </MudTh>
                            }

                            Func<IGenComponent, bool> predicate;

                            if (ViewState != ViewState.None)
                            {   //edit create vs
                                predicate = x => x.EditorVisible && x is not GenSpacer;
                            }
                            else
                            {
                                predicate = x => x is not GenSpacer;
                            }

                            foreach (var item in GetComponentsOf<IGenComponent>().Where(predicate).OrderBy(x => x.Order))
                            {
                                if (ViewState == ViewState.None)
                                {
                                    if (!item.GridVisible)
                                    {
                                        <MudTh>

                                        </MudTh>
                                        continue;
                                    }
                                }


                                if (!EnableSorting)
                                {
                                    <MudTh>
                                        <span>@item.Label </span>
                                    </MudTh>
                                }
                                else
                                {
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<TModel, object>(x=> x.GetPropertyValue(item.BindingField))">@item.Label</MudTableSortLabel>
                                    </MudTh>
                                }


                            }


                        }
                        <MudTh>

                            @{
                                if (Create.HasDelegate)
                                {
                                    <div style="@(DetailClicked ? "pointer-events: none;opacity:0.4;" : string.Empty)">
                                        <MudGrid Class="ml-10" Justify="Justify.FlexEnd">
                                            <MudIconButton Icon="@AddIcon" Size="Size.Medium" @onclick="OnCreateClick" Disabled="NewDisabled|| Disabled" />
                                        </MudGrid>
                                    </div>
                                }
                            }

                        </MudTh>
                    </HeaderContent>

                    <RowTemplate>

                        @{
                            if (HasDetail && EditMode != EditMode.SmartForm)
                            {
                                var expandIcon = Icons.Material.Filled.ExpandMore;

                                if (ShouldDisplay(context))
                                {
                                    expandIcon = Icons.Material.Filled.ExpandLess;
                                }

                                <MudTd>
                                    <MudIconButton Size="Size.Small"
                                                   Disabled="ExpandDisabled"
                                                   Icon="@expandIcon"
                                                   OnClick="@(() => OnDetailClicked(context))">
                                    </MudIconButton>
                                </MudTd>
                            }


                            foreach (var item in GetComponentsOf<IGenComponent>().Where(x => x is not GenSpacer).OrderBy(x => x.Order))
                            {
                                if (!item.GridVisible)
                                {
                                    <MudTd>

                                    </MudTd>
                                    continue;
                                }
                                <MudTd @onclick:stopPropagation="EditMode == EditMode.Form">
                                    @item.RenderAsGridComponent(context)
                                </MudTd>
                            }

                            //CreateTusuYerineGelecek kolon
                            <MudTd></MudTd>


                            if (Delete.HasDelegate && EditTrigger == TableEditTrigger.RowClick)
                            {
                                <MudTd>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Delete" Class="pa-0" OnClick="@(() => OnDeleteClicked(context))" Disabled="Disabled" />

                                </MudTd>

                            }



                        }
                    </RowTemplate>

                    
                    <RowEditingTemplate Context="_context">

                        @{
                            if (Disabled)
                            {
                                EditTrigger = TableEditTrigger.EditButton;
                                StateHasChanged();
                            }
                            else
                            {
                                EditTrigger = OriginalTrigger;
                                StateHasChanged();
                            }


                            if (EditMode != EditMode.Inline)
                            {
                                var currentRow = OriginalTable.Context.Rows.FirstOrDefault(x => x.Key.Equals(SelectedItem));
                                var editingRow = EditButtonActionList.Select(x => x.Target.CastTo<MudTr>()).FirstOrDefault(x => x.Item.CastTo<TModel>().Equals(SelectedItem));
                                if (editingRow is not null)
                                {
                                    editingRow?.Context.Table.SetEditingItem(null);


                                    editingRow.SetFieldValue("hasBeenCanceled", false);
                                    editingRow.SetFieldValue("hasBeenCommitted", false);
                                    editingRow.SetFieldValue("hasBeenClickedFirstTime", false);
                                }
                            }
                            if (HasDetail && EditMode != EditMode.SmartForm)
                            {
                                <MudTd></MudTd>
                            }

                            foreach (var item in GetComponentsOf<IGenComponent>().Where(x => x.EditorVisible && x is not GenSpacer).OrderBy(x => x.Order).ToList())
                            {
                                <MudTd Style="width: auto !important">
                                    @item.RenderAsComponent(_context, true)
                                </MudTd>
                            }

                            <MudTd>

                            </MudTd>

                        }


                    </RowEditingTemplate>

                    <ChildRowContent>
                        @{
                            
                            if (EditMode != EditMode.SmartForm && ShouldDisplay(context) && HasDetail)
                            {
                                <tr style="display: table-row !important; overflow: hidden">
                                    <td style="display: table-cell !important; overflow: hidden" colspan="12">
                                        <CascadingValue Value="Disabled" Name="@nameof(Disabled)">
                                            @GenDetailGrid(context)
                                        </CascadingValue>
                                    </td>
                                </tr>
                            }


                        }

                    </ChildRowContent>

                    <PagerContent>
                        <MudTablePager PageSizeOptions="new[] { 10, 25, 50, 100, !DataSource.Any() ? 999 : DataSource.Count }" />
                    </PagerContent>

                    <EditButtonContent Context="button">

                        @{

                            TModel model = (TModel)button.ButtonAction.Target.CastTo<MudTr>().Item;
                        }

                        <div style="@(DetailClicked ? "pointer-events: none;opacity:0.4;" : string.Empty)">
                            @{
                                if (Update.HasDelegate)
                                {
                                    if (!EditButtonActionList.Contains(button.ButtonAction))
                                        EditButtonActionList.Add(button.ButtonAction);

                                    <MudIconButton @ref="EditButtonRef"
                                                   Size="@Size.Small"
                                                   Icon="@Icons.Outlined.Edit"
                                                   Class="pa-0"
                                                   OnClick="()=>OnEditContextButtonClick(button)"
                                                   Disabled="button.ButtonDisabled||Disabled" />
                                }

                            }

                            @{
                                if (Delete.HasDelegate)
                                {
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Delete" Class="pa-0" OnClick="@(() => OnDeleteClicked(model))" Disabled="button.ButtonDisabled||Disabled" />
                                }
                            }

                        </div>
                    </EditButtonContent>
                </MudTable>

                IsRendered = true;

            }


        }


    </MudCard>

</CascadingValue>